#one{
	border:1px solid black;
	width:100px;
	height:100px;
	background-color:red;
	hover{width:500px;}
}
#two{
	border:1px solid black;
	width:100px;
	height:100px;
	background-color:blue;
}
#three{
	border:1px solid black;
	width:100px;
	height:100px;
	background-color:green;
}
#four{
	border:1px solid black;
	width:100px;
	height:100px;
	background-color:purple;
}
#five{
	border:1px solid black;
	width:100px;
	height:100px;
	background-color:brown;
}
#one:hover{width:500px;transition: 3s; }
#two:hover{transform: translate(100px, 200px);transition:3s;} 
#three:hover{transform: rotate(360deg);transition:3s;}
#four:hover{transform: scale(1, 2);transition:3s;}
#five:hover{transform:translate(100px, 200px) scale(1, 2) rotate(360deg); transition:1s;}

